---
import Layer1 from '../assets/LA/bush.png'; 
import Layer2 from '../assets/LA/houses.png'; 
import Layer3 from '../assets/LA/skyscrapers.png'; 
import Layer4 from '../assets/LA/mountains.png';
import Layer5 from '../assets/LA/sky.jpg';  
import "../style/parllaxStyle.css"
import Header from '../components/header/index.astro';
---

<div
   class = "wrapper"
>
    <Header />
    <section
        id = "field1"
    >
        <img src={Layer1} alt = "layer1" class ="layer1Style" />
        <img src={Layer2} alt = "layer2" class ="layer2Style" />
        <img src={Layer3} alt = "layer3" class ="layer3Style" />
        <img src={Layer4} alt = "layer4" class ="layer4Style" />
        <img src={Layer5} alt = "layer5" class ="layer5Style" />
        <div class = "text-center w-8/12 mx-auto titleWrapper">
            <h1
                class="text-center text-2xl sm:text-3xl md:text-4xl lg:text-5xl leading-none font-bold text-white textStyle uppercase titleStyle"
            >LA Design Innitiative</h1>
        </div>
    </section>
    <div 
        class = "bg-black h-fit text-white text-base py-10 block mb-10 relative" 
        id="field2"
    >
        <div
            class="w-11/12 mx-auto mb-10 min-h-[500px]"
        >
        </div>
    </div>
</div>